[submodule "DBConnector"]
	path = DBConnector
	url = https://github.com/Ieuan-chris/DBConnector.git
[submodule "submodule_test"]
	path = submodule_test
	url = https://github.com/Ieuan-chris/submodule_test.git
